---
import Banner from "../components/Banner.astro";
import Quote from "../components/Quote.astro";
import SupportGridView from "../components/SupportGridView.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const wings = await getCollection("wings");

console.log("wings", wings);
---

<Layout title="Home">
  <section class="px-5 py-32 bg-dim">
    <div
      class="max-w-screen-xl w-full mx-auto flex flex-col items-center gap-8 justify-center"
    >
      <h1 class="text-6xl font-bold">Creating More Inclusive World</h1>
      <p class="text-2xl/normal max-w-[56ch] mx-auto text-center">
        Our organization aims to create a universal platform for communities,
        promote harmony among them, and raise awareness about various aspects of
        human life through mass communication.
      </p>
    </div>
  </section>

  <section class="px-5 py-32 bg-white">
    <div
      class="max-w-[840px] mx-auto flex flex-col items-center justify-center text-center"
    >
      <p class="text-2xl font-semibold text-accent-secondary">About Us</p>
      <h2 class="text-6xl font-bold mt-2">Our Vision and Mission</h2>
      <p class="text-2xl/normal my-8">
        Our goal is to bring communities together and foster harmony through the
        creation of a universal platform, community, digital archival center,
        and cultural hub. We host events and activities to educate people about
        various aspects of human life and bring together donors, mentors, &
        students from diverse backgrounds to work towards a common cause.
      </p>
      <a
        class="px-6 py-2 rounded-full font-medium bg-accent-primary text-white flex items-center justify-center"
        href="/about">Learn More</a
      >
    </div>
  </section>

  <section class="px-5 py-32 bg-dim">
    <div
      class="max-w-screen-lg mx-auto w-full flex flex-col items-center justify-center text-center"
    >
      <p class="text-2xl font-semibold text-accent-secondary">What We Do</p>
      <h2 class="text-6xl font-bold mt-2">
        Different Wings of Our Organization
      </h2>
      <p class="text-2xl/normal my-8 max-w-[56ch] mx-auto w-full">
        Our organization aims to establish and maintain various wings to achieve
        and promote our main activities. These wings include:
      </p>
    </div>

    <div class="max-w-screen-lg w-full mx-auto grid grid-cols-2 gap-10 mt-16">
      {
        wings.map((wing) => {
          return (
            <a
              href={`/wings/${wing.slug}`}
              class="bg-white relative border rounded-lg overflow-hidden flex flex-col shadow-sm p-10 group"
            >
              <div
                class={`absolute top-0 inset-x-0 h-[160px]  ${wing.data.accent}`}
              />
              <img
                src={wing.data.cover}
                alt={wing.data.title}
                loading="lazy"
                class="w-full relative aspect-[2/1] object-cover rounded-lg"
              />
              <p class="text-2xl font-bold mb-2 mt-6 group-hover:text-accent-secondary">
                {wing.data.name}
              </p>
              <p>{wing.data.description}</p>
            </a>
          );
        })
      }
    </div>
  </section>

  <Quote />
  <SupportGridView />

  <Banner />
</Layout>
