---
import { Image } from "astro:assets";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";


const wings = await getCollection("wings");

---
<Layout title="Wings">
<section class="px-5 py-24 bg-dim">
    <div
      class="max-w-screen-lg mx-auto w-full flex flex-col items-center justify-center text-center"
    >
      <p class="text-2xl font-semibold text-accent-secondary">What We Do</p>
      <h2 class="text-6xl font-bold mt-2">
        Different Wings of Our Organization
      </h2>
      <p class="text-2xl/normal my-8 max-w-[56ch] mx-auto w-full">
        Our organization aims to establish and maintain various wings to achieve
        and promote our main activities. These wings include:
      </p>
    </div>

    <div class="max-w-screen-lg w-full mx-auto grid grid-cols-2 gap-10 mt-8">
      {
        wings.map((wing) => {
          return (
            <a
              href={`/wings/${wing.slug}`}
              class="bg-white relative border rounded-lg overflow-hidden flex flex-col shadow-sm p-10 group"
            >
              <div
                class={`absolute top-0 inset-x-0 h-[160px]  ${wing.data.accent}`}
              />
              <Image
                src={wing.data.cover}
                alt={wing.data.title}
                loading="lazy"
                width={320}
                height={160}
                class="w-full relative aspect-[2/1] object-cover rounded-lg"
              />
              <p class="text-2xl font-bold mb-2 mt-6 group-hover:text-accent-secondary">
                {wing.data.name}
              </p>
              <p>{wing.data.description}</p>
            </a>
          );
        })
      }
    </div>
  </section>
</Layout>