---
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import Quote from "../components/Quote.astro";
import SupportGridView from "../components/SupportGridView.astro";
import Banner from "../components/Banner.astro";
import ImagesGrid from "../components/ImagesGrid";
interface Props {
  title: string;
  wingName: string;
  wingTitle: string;
  wingSubtitle: string;
}

const { title, wingName, wingTitle, wingSubtitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Nav />
    <section class="px-5 py-32">
      <div class="max-w-[840px] w-full mx-auto gap-6 flex flex-col">
        <p class="text-2xl font-semibold text-accent-secondary">{wingName}</p>
        <h1 class="text-6xl font-bold">
          {wingTitle}
        </h1>
        <p class="text-2xl/normal">
          {wingSubtitle}
        </p>
      </div>
    </section>
    
    <slot />

    <Quote />
    <SupportGridView />
    <Banner />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    --color-accent-primary: 2, 28, 95;
    --color-accent-secondary: 255, 90, 38;
    --color-canvas: 255, 255, 255;
    --color-ink: 0, 0, 0;
    --color-dim: 247, 247, 250;
  }
  html {
    font-family: system-ui, sans-serif;
  }

  body {
    @apply text-base bg-canvas text-ink antialiased;
  }
</style>
